<div class="container header">
  <div class="main">
    <a id="logo" href="/">
      {{#avatar}}
      <img class="avatar {{#roundAvatar}}rounded{{/roundAvatar}}" src="{{avatar}}" alt="{{name}}'s avatar"/>
      {{/avatar}}
      {{title}}
    </a>
    <div class="nav">
      <a href="/" title="Home">Home</a>
      <a href="/archives" title="Archives">Archives</a>
      {{#menu}}
      <a href="{{url}}" title="{{label}}">[{{label}}]</a>
      {{/menu}}
      <div class="right">
        <a class="search" href="/search" title="Search {{title}}">Search</a>
        <a class="feed" href="{{feedURL}}" title="RSS feed for  {{title}}">Feed</a>
      </div>
    </div>
  </div>
</div>