<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <h1>{{error.title}}</h1>
        <p>Sorry, it seems like we have misplaced the chip, uhm article, you were looking for.
        <img src="/public/404.png" alt="Misplaced chips" title="Misplaced chips"/>
        </p>
        <p>Please have a look at <a href="/archives" title="Archives">the archive</a> for other articles.</p>
        {{> footer}}
      </div>
    </div>
    <script type="text/javascript">
      $(function(){
        var url = $(location).attr('href').replace(/post\/[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])-/,'');
        if ( $(location).attr('href') !== url ) {
          $(location).attr('href',url);
        }
      });
    </script>
  </body>
</html>