<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <h1>{{error.title}}</h1>
        <p>Sorry, it seems like we have misplaced the chip, uhm article, you were looking for.
        <img src="/public/404.png" alt="Misplaced chips" title="Misplaced chips"/>
        </p>
        <p>Please have a look at <a href="/archives" title="Archives">the archive</a> for other articles.</p>
        {{> footer}}
      </div>
    </div>
  </body>
</html>